body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
  height: 100vh;  /* Ensuring full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  margin-bottom: 2%; /* Adjusted for consistent spacing */
}

.container {
  width: 90%; /* Adjusted for responsive width */
  max-width: 600px; /* Maximum width to manage button size */
  margin: 0 auto; /* Centering container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  margin: 10px;
  height: 30vw; /* Responsive height based on viewport width */
  width: 30vw; /* Responsive width based on viewport width */
  max-height: 200px; /* Maximum size */
  max-width: 200px; /* Maximum size */
  border: 10px solid black;
  border-radius: 20%;
  display: inline-block;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  #level-title {
    font-size: 2rem; /* Smaller text on smaller screens */
  }

  .btn {
    height: 20vw;
    width: 20vw;
    max-height: 120px; /* Adjusted for smaller screens */
    max-width: 120px; /* Adjusted for smaller screens */
  }
}
